h1 {
    font-weight:900;
}
#gelopix {
    width: 400px;
    height: 600px;
    border-radius: 10%;
}

#leftparag {
    margin-top: 16%;
    margin-left: 150px;
    float: left;
}

#gradpic {
    float: right;
    margin-top: 5%;
    margin-right: 400px;
}