body {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;;
}

h1 {
    font-weight:900;
    font-size: 50px;
}

p {
    font-size: 20px;
}

#leftparag h2 {
    margin-top: -20px;
    margin-bottom: 40px;
    font-size: 25px;
}

#gelopix {
    width: 400px;
    height: 600px;
    border-radius: 10%;
}

#leftparag {
    margin-top: 16%;
    margin-left: 150px;
    float: left;
}

#gradpic {
    float: right;
    margin-top: 5%;
    margin-right: 200px;
}

#landing-page {
    grid-row: 1;
}

#intro-page {
    grid-row: 2;
    margin-top: 100px;
    text-align: center;
    margin-right: 40px;
    margin-bottom: 300px;
}

#intro-page p {
    max-width: 1550px;
    margin-left: auto;
    margin-right: auto;
    line-height: 2;
}

#cyberskills-page {
    grid-row: 3;
    text-align: center;
    margin-right: 40px;
}